<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunflowerClone"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Unsplash Api-->
        <meta-data
            android:name="tw.com.deathhit.core.unsplash_api.access_key"
            android:value="[YOUR UNSPLASH ACCESS KEY]" />

        <meta-data
            android:name="tw.com.deathhit.core.unsplash_api.app_name"
            android:value="Sunflower Clone" />

        <meta-data
            android:name="tw.com.deathhit.core.unsplash_api.server_url"
            android:value="https://api.unsplash.com/" />
    </application>
</manifest>